@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.float-animation {
    animation: float 3s ease-in-out infinite;
}

@keyframes twinkle {
    0%,
    100% {
        opacity: 0.05;
    }
    50% {
        opacity: 0.1;
    }
}

.animate-twinkle {
    animation: twinkle 4s ease-in-out infinite;
}
